<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title TBD</title>
</head>
<body>
  <h1>Hello World!</h1>
  <form action="addTodo.html" method="POST">
    <input name="text" type="text" />
    <input type="submit">
  </form>
  <ul>
    <% todos.forEach((todo) => { %>
      <li>
        <%= todo.todo %>
        <button id="<%= todo.id %>">Delete</button>
      </li>
    <% }); %>
    <!-- <li><%= todos.length %></li> -->
  </ul>
  
</body>
</html>
